* {
	-webkit-tap-highlight-color: rgba(184,139,88,0.3);
}

::selection {
	background: #000; color:#FFFFFF;
}

/* unvisited link */
a:link {
	color: rgba(184,139,88,1);
}

/* visited link */
a:visited {
	color: rgba(184,139,88,1);
}

/* mouse over link */
a:hover {
	color: rgba(184,139,88,1);
}

/* selected link */
a:active {
	color: rgba(184,139,88,1);
}

mark {
	background-color: rgba(255, 248, 196, 0.5);
}

blockquote {
	margin:16px 0;
	padding:12px 12px 13px;
	border-radius:8px;
	background-color: rgba(255, 248, 196, 0.5);
	box-shadow:inset 0 0 0 1px rgba(0,0,0,.1);
}

li {
	color: #b78b5c;
}

li span {
	color: black;
}

.Lead {
	font-size:18px;
}

.Context-item li {
	margin: 0 0 0 -25px;
	color: #b78b5c;
}

.Context-item span {
	color: black;
}

.SourceBlock-root{display:block;margin:18px 0 15px;padding:12px 11px 13px;color:#000;border-left:4px solid #b88b59;border-radius:2px 8px 8px 2px;background-color:#f5f5f5;font-size:16px;line-height:20px}@media only screen and (min-device-width:48em){
	.SourceBlock-root{margin-top:25px;margin-bottom:25px;padding:18px 16px 12px}}
	.SourceBlock-root:hover,
	.SourceBlock-root:visited{background-color:#ededed}
	.SourceBlock-root blockquote{margin:0}
	.SourceBlock-root a{text-decoration:none;color:inherit}
	.SourceBlock-text{font-family:Proxima Nova,Arial,Helvetica Neue,sans-serif}
	.SourceBlock-text p{margin:0;font-size:16px;line-height:22px}@media only screen and (min-device-width:48em){
		.SourceBlock-text p{font-size:18px;line-height:26px}}
.SourceBlock-root p+p{margin-top:12px}
.SourceBlock-root footer{margin-top:12px;padding-top:10px;border-top:1px solid #d6d6d6}@media only screen and (min-device-width:48em){
	.SourceBlock-root footer{padding-top:12px;margin-top:18px}}
	.SourceBlock-origin{letter-spacing:1px;text-transform:uppercase;pointer-events:none;color:#292929;font-family:Proxima Nova,Arial,Helvetica Neue,sans-serif;font-size:16px;font-weight:700;font-style:normal;line-height:22px}@media only screen and (min-device-width:48em){
		.SourceBlock-origin{font-size:18px;line-height:26px}}
		.SourceBlock-center{max-width:650px;margin-right:auto;margin-left:auto}

.Related {margin:16px 0;border-radius:8px;background-color:#f5f5f5;box-shadow:inset 0 0 0 1px rgba(0,0,0,.1),inset 0 4px 0 0 #b78b5c;}
.Related h3{margin:0;padding:14px 12px 3px;letter-spacing:1px;text-transform:uppercase;color:#7f7f7f;font-family:Proxima Nova,Arial,Helvetica Neue,sans-serif;font-size:12px;font-weight:600;line-height:17px;}
.Related ul{margin:0;padding-left:0;list-style:none;}
.Related ul li{padding:0;}
.Related ul li+li{border-top:1px solid #e6e6e6;}
.Related a{display:block;padding:12px 12px 13px;transition:color .15s;text-decoration:none;color:#000;box-shadow:none;font-size:17px;line-height:20px;}
.Related a:hover{color:#5c5c5c;}
.Related-title--first{font-family:Proxima Nova,Arial,Helvetica Neue,sans-serif;font-size:16px;font-weight:700;line-height:18px;}

.Figure{width: 100%;height: auto; padding: 0px; margin: 0px;}
.Figure img{height: auto; max-width: 100%; padding: 0px; margin: 10px 0 10px 0;}

.GroupedFigure-items{width: 100%;height: auto; padding: 0px; margin: 0px;}
.GroupedFigure-item{display:inline; width: 100%;height: auto; padding: 0px; margin: 0px;}
.GroupedFigure-items img{height: auto; max-width: 100%; padding: 0px; margin: 10px 0 10px 0;}

.Figure-caption, .EmbedCode-meta{margin:0; letter-spacing:1px; color:#000000; font-family:Proxima Nova,Arial,Helvetica Neue,sans-serif; font-size:12px; font-weight:600; line-height:17px;}
.Figure-credits, .EmbedCode-credit{margin:0; letter-spacing:1px; color:#7f7f7f; font-family:Proxima Nova,Arial,Helvetica Neue,sans-serif; font-size:12px; font-weight:600; line-height:17px;}